<div class="grid">
    <!-- row 1 -->
    <div class="cell corner" data-hover="assets/index/centerUL.jpg">
        <a href="#music/music.md" class="dynamic-link">
                <img src="assets/index/UL.jpg">
        </a>
    </div>
    
    <div class="cell side" data-hover="assets/index/centerU.jpg"></div>
    <div class="cell corner" data-hover="assets/index/centerUR.jpg">
        <a href="#hiking/hiking.md" class="dynamic-link">
                <img src="assets/index/UR.jpg">
        </a>
    </div>

    <!-- row 2 -->
    <div class="cell side" data-hover="assets/index/centerL.jpg"></div>
    <div class="cell center">
      <img id="center" src="assets/index/center-default.jpg" class="cell center">
    </div>
    <div class="cell side" data-hover="assets/index/centerR.jpg"></div>

    <!-- row 3 -->
    <div class="cell corner" data-hover="assets/index/centerBL.jpg">
        <a href="#math/math.md" class="dynamic-link">
                <img src="assets/index/BL.jpg">
        </a>
    </div>
    <div class="cell side" data-hover="assets/index/centerB.jpg"></div>
    <div class="cell corner" data-hover="assets/index/centerBR.jpg">
        <a href="#surprise.md" class="dynamic-link">
                <img src="assets/index/BR.jpg">
        </a>
    </div>
</div>
<!-- spacer -->
<div style="height: 200px;"></div>