<!-- TODO: Replace action with your embed-subscribe link -->
<link rel="stylesheet" href="../style/style.css">

<h2 class="center">Join my music Newsletter</h2>
<div class="card">
<form
  action="https://buttondown.com/api/emails/embed-subscribe/YourNameHere"
  method="post"
  class="embeddable-buttondown-form"
>
  <label for="bd-email">Enter your email</label>
  <input type="email" name="email" id="bd-email" class="w-full"/>
  <input type="submit" value="Subscribe" class="w-full"/>
  <p>
    <!-- TODO change this to your own stuff, along with the one above-->
    <a href="https://buttondown.com/refer/YourNameHere" target="_blank">
      Powered by Buttondown.
    </a>
  </p>
</form>
</div>